[Desktop Entry]
Version=1.0
Name=TigerVNC Viewer
GenericName=Remote Desktop Client
Comment=Connect to VNC server and display remote desktop
Keywords=remote desktop;vnc;
Exec=/usr/bin/xtigervncviewer
Icon=tigervnc
Type=Application
StartupWMClass=TigerVNC Viewer
Categories=Network;RemoteAccess;
Terminal=false
