[Desktop Entry]
Version=1.0
Name=TigerVNC Viewer
GenericName=Remote Desktop Client
Comment=Connect to a remote VNC desktop
Keywords=remote desktop;vnc;
Categories=Network;
Exec=/usr/bin/xtigervncviewer
Icon=tigervnc
Terminal=false
Type=Application
